.addressForm {
  border: 1px solid rgba(128, 128, 128, 0.498);
  padding: 10px 10px 20px 10px;
  margin: 10px;
}
.ordersDiv {
  margin-top: 80px;
}
p {
  padding: 12px 0px;
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
input {
  width: 100%;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #d4d5d9;
  background-color: transparent;
  font-weight: 300;
  border-radius: 4px;
  line-height: 14px;
  margin: 10px 0px;
}
.bttn {
  display: flex;
}
.home {
  border: 1px solid #ff3f6c;
  color: #ff3f6c;
  font-weight: 700;
  padding: 7px 16px;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 16px;
}
.work {
  padding: 7px 16px;
  border: 1px solid #282c3f;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 16px;
  font-weight: 700;
}
.saveAddress {
  margin-bottom: 20px;
}
.addAddress {
  background-color: #ff3f6c;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  width: 170px;
  margin: auto;
  align-items: center;
  border-radius: 4px !important;
  padding: 14px !important;
}
