.addressForm,
.priceDetails {
  border: 1px solid rgba(128, 128, 128, 0.498);
  padding: 10px 10px 20px 10px;
  margin: 10px;
}
.priceDetails {
  height: 240px;
}
.mainContainer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.label {
  padding: 9px 0px;
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.input {
  width: 100%;
  font-size: 14px;
  padding: 9px;
  border: 1px solid #d4d5d9;
  background-color: transparent;
  font-weight: 300;
  border-radius: 4px;
  line-height: 14px;
  margin: 9px 0px;
}
.bttn {
  display: flex;
}
.home {
  border: 1px solid #ff3f6c;
  color: #ff3f6c;
  font-weight: 700;
  padding: 7px 16px;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 16px;
}
.work {
  padding: 7px 16px;
  border: 1px solid #282c3f;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 16px;
  font-weight: 700;
}
.saveAddress {
  margin-bottom: 15px;
}
.addAddress {
  background-color: #ff3f6c;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  width: 170px;
  margin: auto;
  align-items: center;
  border-radius: 4px !important;
  padding: 12px;
}
.amountCalculation,
.totalAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.amountCalculation > p {
  margin-top: 6px;
  color: #19191ab9;
}
.totalAmount {
  margin-top: 20px;
  font-weight: 600;
  padding: 15px 0px;
  border-top: 1px solid rgba(128, 128, 128, 0.479);
}
.city {
  display: flex;
  grid-area: 10px;
  justify-content: space-between;
}
.city > input {
  width: 180px;
}
@media (min-width: 768px) {
  .mainContainer {
    display: flex;
    flex-direction: row;
  }
  .addressForm > div,
  .priceDetails {
    width: 370px;
  }
  .ordersDiv {
    width: 90vw;
    margin-top: 30px;
    height: 565px;
    display: flex;
    justify-content: space-around;
  }
}
