.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  border-bottom: 1px solid lightgray;
}
.category {
  display: none;
}
.category > button {
  border: none;
  background-color: transparent;
  margin: 0px 10px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
