.carousel {
  width: 100vw;
  overflow: hidden;
  margin-top: 254px;
  transform: translate(0%, -50%);
  z-index: 0;
}
.slide {
  display: flex;
  animation: slide 16s infinite;
}
.slide > img {
  min-width: 100vw;
  height: 440px;
  object-fit: cover;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
