@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&family=Montserrat:wght@300;400;500;700&family=Mulish:wght@400;700&family=Nunito+Sans:wght@200;300;400;600;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Splash&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.cycle {
  width: 300px;
  gap: 10px;
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: auto;
}
.cart {
  width: 300px;
  scroll-snap-align: start;
  flex-shrink: 0;
}
.cart > img {
  width: 100%;
  height: 315px;
  object-fit: cover;
}
.brand {
  color: rgb(0 0 0 / 60%);
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}
.content {
  font-size: 17px;
  font-weight: 400;
  margin: 10px 0px;
}
.price {
  font-size: 18px;
  font-weight: 500;
}
.off {
  color: rgb(0 0 0 / 60%);
  text-decoration: line-through;
  margin: 0px 7px;
  font-weight: 300;
}
.discount {
  font-weight: 500;
  color: #ff3278;
}
.view-all {
  font-size: 14px;
  color: #ff3278;
  margin: 0px 10px;
  font-style: normal;
  font-weight: 400;
}
.heading {
  margin: 20px 0px;
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: oblique;
}
.article {
  margin-top: 450px;
}

@media (min-width: 768px) {
  .article {
    margin: 480px 30px 20px 30px;
    width: 90vw;
  }
  .cycle {
    width: 90vw;
    gap: 20px;
  }
  .cart {
    width: 330px;
    margin: 10px;
    scroll-snap-align: start;
    flex-shrink: 0;
  }
  .cart > img {
    width: 100%;
    height: 330px;
  }
}
